<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>802002057999-htfvoqt34i498jndvdum7aqmhkib09fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802002057999-htfvoqt34i498jndvdum7aqmhkib09fs</string>
	<key>API_KEY</key>
	<string>AIzaSyCc8Juep19hK8IjXNGE6t3kQJc_d7gMrBI</string>
	<key>GCM_SENDER_ID</key>
	<string>802002057999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vedantbatra.com.LOGINPAGE</string>
	<key>PROJECT_ID</key>
	<string>loginapp2-84a3f</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp2-84a3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802002057999:ios:fe299c19a87b6934</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp2-84a3f.firebaseio.com</string>
</dict>
</plist>